[Task]
transfer=True
task=pos
metric=acc

[Model]
use_bert=1
model_type=SoftmaxX2
num_decoders=4
dropout=0.5
word_embeddings=
use_char=False
load_model=False

[Encoder]
num_layers=1
hidden_size=256

[Decoder]
num_layers=1
hidden_size=256

[Data]
data_root=./.transfer_data
embedding_root=./.data/embeddings
corpus=en_2_cr_2_ja_1_id_1_to_ud_slovenian
dataformat=conllu
result_root=./
sample=1.0
table=sl_tune1_encoder1
# table=dut_tune1_diff_table_1e-3

[Training]
rounds=1
batch=32
epochs=60
patience=10
anneal_method=max
L2=1e-8
lr=0.1
lr_decay=0.5
# mode= train eval tune
mode=train

[Visualization]
tensor_path=pos4
tensorboard=True

[Tune_Int]
HP_tag_dim=20
HP_rank=384,256,128,64

[Tune_Float]
