[Encoder_Layer]
word_embeddings=conll
use_char=False
use_bert=2
num_layers=1
hidden_size=768
dropout=0.1

[Top_Layer]
use_crf=False
multilinear=Softmax
# D-Quadlinear
HP_tag_dim=50
HP_rank=384
HP_std=1.5
HP_tag_scale=1.5

[Data]
corpus=ICBU
data_root=../Datasets/ICBU
embedding_root=./.data/embeddings
target_corpus=home,luggage,machinery,shoes,sports,timepieces,vehicles
# apparel,beauty,electronics,fashion,gifts,health
source_corpus=timepieces
source_model_name=timepieces
dataformat=conllu
result_root=./.transfer_data
sample=1.0
num_decoders=0

[Model]
load_model=True
load_model_path=.transfer_data/ICBU/apparel/softmax_xlmr/apparel/best_model.pt,.transfer_data/ICBU/beauty/softmax_xlmr/beauty/best_model.pt,.transfer_data/ICBU/electronics/softmax_xlmr/electronics/best_model.pt,.transfer_data/ICBU/fashion/softmax_xlmr/fashion/best_model.pt,.transfer_data/ICBU/gifts/softmax_xlmr/gifts/best_model.pt,.transfer_data/ICBU/health/softmax_xlmr/health/best_model.pt

[Task]
transfer=False
task=ICBU
metric=f1

[Training]
rounds=1
batch=16
epochs=5
patience=0
anneal_method=max
L2=1e-2
lr=5e-5
lr_decay=0.5
# mode= train eval tune online
mode=online
save_model=True

[Visualization]
tensor_path=
tensorboard=False

[Tune_Int]
HP_tag_dim=20
HP_rank=384

[Tune_Float]
