[Encoder_Layer]
word_embeddings=conll
use_char=False
use_bert=1
num_layers=1
hidden_size=768
dropout=0.1

[Top_Layer]
use_crf=False
multilinear=Softmax
# D-Quadlinear
HP_tag_dim=50
HP_rank=384
HP_std=1.5
HP_tag_scale=1.5

[Data]
corpus=CoNLL
data_root=../Datasets/CoNLL
embedding_root=./.data/embeddings
target_corpus=conll_03_english
source_corpus=conll_03_spanish
source_model_name=es
dataformat=conllu
result_root=./.transfer_data
sample=1.0
num_decoders=0

[Model]
load_model=True
load_model_path=.transfer_data/ner/conll_03_english/softmax_mbert/en/best_model1.pt

[Task]
transfer=False
task=ner
metric=f1

[Training]
rounds=1
batch=16
epochs=3
patience=0
anneal_method=max
L2=1e-2
lr=2e-5
lr_decay=0.5
# mode= train eval tune online
mode=online
save_model=True

[Visualization]
tensor_path=
tensorboard=False

[Tune_Int]
HP_tag_dim=20
HP_rank=384

[Tune_Float]
