[Encoder_Layer]
word_embeddings=
use_char=False
use_bert=1
num_layers=1
hidden_size=768
dropout=0.1

[Top_Layer]
use_crf=False
multilinear=Softmax
# D-Quadlinear
HP_tag_dim=50
HP_rank=384
HP_std=1.5
HP_tag_scale=1.5

[Data]
corpus=UD
data_root=../Datasets/UD
embedding_root=./.data/embeddings
target_corpus=ud_ca,ud_id,ud_hi,ud_fi,ud_ru
source_corpus=ud_en
source_model_name=en1
dataformat=conllu
result_root=./.transfer_data
sample=1.0
num_decoders=0

[Model]
load_model=True
load_model_path=.transfer_data/pos/ud_ca/softmax_mbert/ca/best_model.pt,.transfer_data/pos/ud_id/softmax_mbert/id/best_model.pt,.transfer_data/pos/ud_hi/softmax_mbert/hi/best_model.pt,.transfer_data/pos/ud_fi/softmax_mbert/fi/best_model.pt,.transfer_data/pos/ud_ru/softmax_mbert/ru/best_model.pt

[Task]
transfer=False
task=pos
metric=acc

[Training]
rounds=1
batch=16
epochs=15
patience=0
anneal_method=max
L2=1e-2
lr=2e-5
lr_decay=0.5
# mode= train eval tune online
mode=online
save_model=True

[Visualization]
tensorboard=False
tensor_path=

[Tune_Int]
HP_tag_dim=20
HP_rank=384,256,128,64

[Tune_Float]
