[Encoder_Layer]
word_embeddings=
use_char=False
use_bert=1
num_layers=1
hidden_size=768
dropout=0.1

[Top_Layer]
use_crf=False
multilinear=Softmax
# D-Quadlinear
HP_tag_dim=50
HP_rank=384
HP_std=1.5
HP_tag_scale=1.5

[Data]
corpus=UD
data_root=../Datasets/UD
embedding_root=./.data/embeddings
target_corpus=ud_en
source_corpus=ud_id
source_model_name=id
dataformat=conllu
result_root=./.transfer_data
sample=1.0
num_decoders=0

[Model]
load_model=True
load_model_path=.transfer_data/pos/ud_en/softmax_mbert/en/best_model.pt

[Task]
transfer=False
task=pos
metric=acc

[Training]
rounds=1
batch=16
epochs=3
patience=0
anneal_method=max
L2=1e-2
lr=2e-5
lr_decay=0.5
# mode= train eval tune online
mode=online
save_model=True

[Visualization]
tensorboard=False
tensor_path=

[Tune_Int]
HP_tag_dim=20
HP_rank=384,256,128,64

[Tune_Float]
